<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nueva Materia</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <h1>Crear nueva materia</h1>
    <form th:action="@{/materias/guardar}" th:object="${materia}" method="post">
        <input type="hidden" name="estudianteId" th:value="${estudianteId}" />
        
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required/><br/>

        <label>Créditos:</label>
        <input type="number" th:field="*{creditos}" min="1" required/><br/>

        <button type="submit">Guardar</button>
    </form>
    <a th:href="@{'/notas/' + ${estudianteId} + '/materias'}">Volver</a>
</body>
</html>